/.venv
/.vscode
/old
/FFT_PSD_Tests/sena-jan24-filtered-test
/FFT_PSD_Tests/sena-jan24-filtered-test-100Hz
/FFT_PSD_Tests/sena-jan24-raw-plots
/FFT_PSD_Tests/sena-jan24-spectrogram
/FFT_PSD_Tests/sena-jan24-spectrogram-100Hz
/FFT_PSD_Tests/sena-mseed-3d_plots
/FFT_PSD_Tests/sena-mseed-3d_plots_100Hz
/FFT_PSD_Tests/SENA-mseed-plots-test
/SENA-files
/Parallel/Processed
/Parallel/__pycache__
/Parallel/blrms_class.cpython-312.pyc
14-08-25-Fabi.mseed
22-02-25-Raul.mseed
fdsn_station.xml
/SENA-mseed
/spectrograms_jan_out_filtered
/spectrograms_jan_unfiltered
/spectrograms_jan_zoomed_filtered
/sena-ago21-spectrogram
/sena-ago21-filtered-test
/sena-ago21-fft-notPSD
Tabata_original.ipynb
/root_files/V1-Hrec_hoft_16384Hz_OMICRON-1243800003-1800004.root